.card {
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-area {
  height: 250px;
  position: relative;
}

.image {
  position: absolute;
  top: 50%;
  height: 250px;
  margin-top: -125px; /* Half the height */
}

.description {
  margin: 1rem;
}

.tags-area {
  display: flex;
  flex-wrap: wrap;
}
